.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 14%;
    background-color: #296186;
    color: white;
}

.contact .title{
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    padding: 12% 30% 2%;
}
.contact .text{
    text-align: center;

    padding: 0% 33% 4%;
    font-size: 140%;
}

.contact button{
    width: 22%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 80%;
    background-color: #2E9DCB;
    text-align: center;
    font-weight: bold;
    border: none;
    color: white;

}

.end{
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 120%;
    color: white;
    border-top-style: solid;
    border-width: 2px;
    background-color: #24264C;
    text-align: center;
}

@media screen and (max-width: 640px){
    .contact{
        padding-bottom: 10%;

    }
    .contact .title{
        font-size: 240%;
        padding-left: 3%;
        padding-right: 3%;
        text-align: left;
    }
    .contact .text{
        width: 90%;
        font-size: 180%;
        text-align: left;
        padding: 4% 4% 4% 3%;
    }
    .contact button{
        font-size: 100%;
        align-self: start;
        margin-left: 3%;
    }
    .end{
        padding-bottom: 6%;
        padding-top: 6%;
        font-size: 180%;
    }
}