/* Course: SENG 513 */
/* Date: SEPT 1, 2023 */
/* Assignment 1 */
/* Name: Xinzhou Li */
/* UCID: 30066080 */
.description{
    width: 100%;
    font-family: "Titillium Web";
    overflow: hidden;
    font-size: 30px;
    padding-bottom: 4%;
}


.description .text{
    color: black;
    padding-top: 2%;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 100%;
    font-weight: bold;

}

.description .subtext{
    color: black;
    padding-top: 2%;
    padding-left: 8%;
    padding-right: 8%;
    margin-right: 8%;

}

.video{
    display: flex;
    flex-direction: column;
    height: 80%;
    /*padding-right: 4%,4%;*/
    /*box-sizing: ;*/
    align-items: center;
    background-color: #363874;
}
.video embed {
    object-fit: contain;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 90%;
    height: 90%;
}

@media screen and (max-width: 640px){
    .description .text{
        padding-top: 5%;
        padding-left: 3%;
    }
    .description .subtext{
        padding-top: 5%;
        padding-left: 3%;
    }
    .video embed{
        padding-top: 15%;
        padding-bottom: 10%;
    }
}
