
.introduction{
    font-size: 30px;
    width: 100%;
    font-family: "Titillium Web";
    overflow: hidden;
    background-image: url("../assets/top_image_large.png");
    background-repeat: no-repeat;
    background-size: 100%;



}


.introduction div{
    color: white;
    height: auto;
    width: 100%;

}

.introduction #title {
    font-size: 180%;
    width: 25%;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 0px;
    height: 100%;
}

.introduction #subtitle {
    font-size: 80%;
    height: 100%;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 13%;
    width:30%;
}



