.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #363874;
    width: 100%;
    font-family:"Titillium Web";
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-items: center;*/
    /*height: 80px;*/

}


.nav_bar #logo{
    color: white;
    font-size: 222%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: lighter;
    height: 100%;

}
.nav_bar #slogan{
    /*justify-content: center;*/
    color: white;
    font-size: 140%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-style: italic;
    height: 100%;
}
.nav_bar #shop{
    height: 67px;
    font-size: 140%;
    box-sizing: border-box;
    float: right;
    position: absolute;
    right: 0;
    color: white;
    padding: 1.5% 4%;
    background-color: #2789C0;
}
.nav_bar #shop :visited{
    color: white;
}

@media screen and (max-width: 640px){
    .nav_bar{
        flex-direction: column;
        align-items: start;
    }
    .nav_bar #logo{
        padding-left: 3%;
        padding-top: 3%;
    }
    .nav_bar #slogan{
        padding-bottom: 3%;
    }
    .nav_bar #shop{
        display: none;
    }


}