.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #363874;
    width: 100%;
    font-family:"Titillium Web";
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: center;*/

}


.nav_bar #logo{
    color: white;
    font-size: 200%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.nav_bar #slogan{
    /*justify-content: center;*/
    color: white;
    font-size: 100%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.nav_bar #shop{

    float: right;
    position: absolute;
    right: 0;
}